export NEO4J_PASS="" # ENTER THE NEO4J USER PASSWORD
export NEO4J_USER="" # ENTER THE NEO4J USERNAME
export NEO4J_IP="142.93.35.14" # ENTER THE NEO4J IP ADDRESS

export REDIS_PASSWORD="" # ENTER THE PASSWORD OF THE REDIS INSTANCE
export REDIS_IP="" # ENTER THE IP ADDRESS OF THE REDIS INSTANCE

export DEPENDS_SERVICE_URL="" # ENTER THE URL OF THE POM SEARCH SERVICE

export QUEUE_MANAGER="" # ENTER THE URL OF THE AST QUEUE MANAGER