export GIT_KEY= # ENTER YOUR GIT API KEY HERE
export MYSQL_URL=mysql:3306/github-pom # MODIFY TO YOUR MYSQL URL, INCLUDING THE DATABASE
export MYSQL_USER=root # MODIFY TO YOUR MYSQL USER
export MYSQL_PASSWORD= # ENTER YOUR MYSQL PASSWORD HERE