export NEO4J_PASS="" # Specify the password of the Neo4j Database
export NEO4J_USER="" # Specify the username of the Neo4j Database
export NEO4J_IP="" # specify the IP address of the Neo4j Database

export REDIS_PASSWORD="" # specify the password of the redis instance
export REDIS_IP="" # specify the ip of the redis instance

export DEPENDS_SERVICE_URL="" # specify the URL of the pom-search-service

export QUEUE_MANAGER="127.0.0.1:5000" # Specify the URL for the Queue Manager to listen on